
input.pages[type=radio]:checked+div.content {
                top:0;
                left:0;
                opacity:1;
            }
            
            .content {
                top:-100vh;
                left:0px;
                position:absolute;
                height: 100vh;
                width: 100vw;
                opacity:0;
                transition: all 1s;
            }
            input {
                display:none;
            }
            
            input.pages[type=radio]:checked+div.gm {
                opacity:1;
            }
            
            .gm {
                width: 100%;
                height: 100%;
                background: url(main_bg.png) ;
                background-size: cover;
                margin: 0;
                background-attachment:fixed;
                background-repeat: no-repeat;
                opacity:0;
                transition: 1s;
            }